@using TestRegister.App_LocalResources
@model TestRegister.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<br>
<br>
<br>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div>
        <h4>@GlobalRes.RegisterForm</h4>
        <hr/>
        @Html.ValidationSummary(false)

        <div>
                @GlobalRes.Email
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>

        <div>
            @GlobalRes.LastName
            <div>
                @Html.EditorFor(model => model.LastName)
            </div>
        </div>

        <div>
            @GlobalRes.FirstName
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div>
            @GlobalRes.Patronymic
            <div>
                @Html.EditorFor(model => model.Surname)
            </div>
        </div>

        <div>
            @GlobalRes.Phone
            <div>
                @Html.EditorFor(model => model.PhoneNumber)
            </div>
        </div>
        <div>
            @GlobalRes.Password
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            @GlobalRes.ConfirmPassword
            <div>
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div>
            <label for="ImageFile">@GlobalRes.Photo</label>
            <input name="ImageFile" type="file"/>
        </div>
        <br>
        <div>
            <div>
                <input type="submit" value=" @GlobalRes.Register"/>
            </div>
        </div>
    </div>
}