@model TestRegister.Models.EventViewModel
@{
    ViewBag.Title = "SpecificGroup";
}
<head>
    <link href="@Url.Content("~/Content/SpecificGroup.css")"
          rel="stylesheet" type="text/css"/>
</head>

<h2>@GlobalRes.Events</h2>

<br>
@if (Request.IsAuthenticated)
{
    <div class="create_event">
    <p>
        @Html.ActionLink(GlobalRes.Create, "CreateEvent", new {id = Model.GroupEvent.Id},
       new { @style = "text-decoration: none; font-size: 20px;" })
    </p>
    </div>
}

<div class="all_event">
    @foreach (var item in Model.Events)
    {
        <div>
            <div class="event_descr">
                <div class="title">
                    @Html.ActionLink(item.Title, "SpecificEvent", new {id = item.Id})
                </div>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>

            @if (Request.IsAuthenticated)
            {
                <div class="event_delete">
                    <p>@Html.ActionLink(GlobalRes.Delete, "DeleteEvent", new {id = item.Id})<p>
                </div>
                <br>
            }
        </div>
    }
</div>
