@model TestRegister.Models.SpecificViewModel
@{
    ViewBag.Title = "SpecificEvent";
}

<head>
    <link href="@Url.Content("~/Content/SpecificEvent.css")"
          rel="stylesheet" type="text/css" />
</head>

<h2>SpecificEvent</h2>


<div class="all">
    <div>
        <div class="title">
            @Html.DisplayFor(model => model.Event.Title)
        </div>
        <div class="description">
            @Html.DisplayFor(model => model.Event.Description)
        </div>
    </div>

    @foreach (var item in Model.Comments)
    {
        <div>
            <div class="time_comment">
                <div class="time">
                    @Html.DisplayFor(modelItem => item.Time) @Html.DisplayFor(modelItem => item.User)
                </div>
                <div class="comment">
                    @Html.DisplayFor(modelItem => item.Message)
                </div>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="delete">
                    @Html.ActionLink(GlobalRes.Delete, "Delete", new {id = item.Id})
                </div><br>
            }
        </div>

    }
</div>
@if (Request.IsAuthenticated)
{
    <div class="create_comment">
        @Html.ActionLink(GlobalRes.CreateComment, "Create", new {id = Model.Event.Id})<br>
    </div>
}

