
@if (Request.IsAuthenticated)
{
    <text>
        @GlobalRes.Hello, @Html.ActionLink(Session["UserName"] as String, "UserInformation", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">@GlobalRes.LogOff</a>
        }
    </text>
}

else {
    <ul>
        
        <li>@Html.ActionLink(GlobalRes.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink(GlobalRes.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
    }
